body {
    margin: 0px;
}
nav {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}
#left_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
}
.nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0px;
}
.right {
    margin-left: auto;
}
li {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(24, 24, 24);
    font-family: sans-serif;
}
li:hover {
    text-decoration: underline;
    cursor: pointer;
}
li svg {
    fill: rgb(24, 24, 24);
}
#apps {
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-self: flex-end;
    padding: 7px;
}
#apps:hover {
    background-color: rgb(231, 231, 231);
}
#user_icon_container a {
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 50%;
}
#user_icon_container a:hover {
    border-color: rgb(231, 231, 231);
    background-color: rgb(231, 231, 231) ;
}
#user_icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
#center-set {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 48vh;
}
#logo {
    width: 272px;
    height: 92px;
    padding-bottom: 22px;
}
#search_box {
    width: 584px;
    height: 46px;
    border: 1px solid rgb(226, 225, 225);
    border-radius: 10%/100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_box:hover {
    box-shadow: 0px 0px 2px 1px rgb(230, 229, 229);
}
#search_box svg {
    fill: rgb(163, 162, 162);
}
#search_box svg:hover {
    cursor: pointer;
}
#search {
    border: 0px none;
    outline: 0px none;
    width: 487px;
    height: 34px;
    font-size: 16px;
}
#search_icon {
    padding-right: 10px;
    width: 20px;
    height: 20px;
}

#mic {
    padding-left: 10px;
}

#buttons {
    padding-top: 48px;
}

#buttons button {
    padding: 16px;
    font-size: 14px;
    margin: 11px 4px;
}