body {
    margin: 0px;
}
nav {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}
.nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
}
.right {
    margin-left: auto;
}
li {
    padding: 10px;
    color: rgb(24, 24, 24);
    font-family: sans-serif;
}
li:hover {
    text-decoration: underline;
    cursor: pointer;
}
li svg {
    fill: rgb(24, 24, 24);
}
